* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #1a1930;
}

.wrapper {
  width: 1440px;
  margin: 0 auto;
  background-color: white;
}

/* header */

header {
  width: 1300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  margin-left: 70px;
  padding-top: 35px;
  position: relative;
  z-index: 2;
}

.container-nav-logo {
  width: 111px;
  height: 49px;
  text-align: center;
}

.nav-logo {
  width: 111px;
  height: 49px;
}

.container-nav {
  width: 630px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

.container-nav a {
  font-family: Prompt;
  font-size: 18px;
  color: #1a1930;
  text-align: center;
}

a {
  text-decoration: none;
}

.nav-button {
  font-family: Poppins;
  width: 139px;
  height: 60px;
  font-size: 16px;
  color: #1a1930;
  background-color: rgba(255, 255, 255, 0.500);
  border: 2px solid rgba(255, 255, 255, 0.500);
  border-radius: 4px;
  cursor: pointer;
}

/* main-section */

main {
  width: 100%;
  margin-top: 125px;
}

.main-section {
  width: 100%;
  margin-bottom: 100px;
}

.main-container {
  width: 1320px;
  margin-left: 60px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.main-image {
  position: absolute;
  background: transparent;
  top: -220px;
  right: -60px;
  z-index: 0;
}

.container-main-sec-info {
  width: 880px;
  background: transparent;
  position: relative;
  z-index: 1;
}

h1 {
  font-family: Poppins;
  width: 767px;
  font-size: 80px; 
  font-weight: 400;
  color: #1a1930;
  margin-bottom: 59px;
  margin-left: 10px;
  line-height: 1.1;
  background: transparent;
}

.container-main-sec-info h2 {
  font-family: Prompt;
  width: 421px;
  font-size: 30px;
  font-weight: 400;
  color: #2d2b5c;
  margin-bottom: 49px;
  margin-left: 10px;
}

.container-main-sec-info button {
  font-family: Poppins;
  width: 217px;
  height: 60px;
  font-size: 16px;
  color: #fff;
  background-color: #6259EA;
  margin-left: 10px;
  margin-bottom: 137px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.square {
  color: #EA5959;
  font-size: 30px;
}

.icon-text {
  width: 192px;
  font-family: Poppins;
  font-size: 18px;
  margin-left: 10px;
  color: #1a1930;
}

.container-main-sec-icons {
  width: 420px;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 15px;
  margin-top: 461px;
  position: relative;
}

.container-main-sec-icons img {
  width: 25px;
  margin-right: 10px;
}

/* carousel-section */

.carousel-section {
  width: 100%;
  height: 180px;
  margin-bottom: 98px;
  background-color: rgb(234, 229, 255);
}

.main-container-carousel-sec {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 230px;
  background-color: transparent;
  padding-top: 65px;
}

.swipe-img-carousel-sec {
  width: 110px;
  height: 49px;
  background: transparent;
}

.webflow-img-carousel-sec {
  width: 140px;
  height: 35px;
  background: transparent;
}

/* about-section */

.about-section {
  width: 100%;
  margin-bottom: 143px;
}

.main-container-about-sec {
  width: 1320px;
  margin-left: 60px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.image-about-sec {
  position: absolute;
  left: -60px;
  top: -195px;
}

.container-about-sec-found {
  width: 500px;
  line-height: 1.2;
  padding-left: 10px;
  position: relative;
}

.found-year {
  font-family: Poppins;
  font-size: 17px;
  margin-top: 3px;
  color: #2d2b5c;
}

.found-text {
  font-family: Poppins;
  font-size: 70px;
  color: #2d2b5c;
}

.container-about-sec-info {
  width: 770px;
  margin-top: 70px;
}

.container-about-sec-info-block {
  width: 750px;
  height: 172px;
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
}

.container-about-sec-info-first-text {
  width: 450px;
  height: 112px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
}

.about-sec-info-title{
  font-family: Prompt;
  font-size: 30px;
  color: #1a1930;
}

.about-sec-info-description {
  font-family: Prompt;
  font-size: 18px;
  color: #2d2b5c;
}

.container-about-sec-info-first-number {
  width: 224px;
  height: 112px;
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center; 
}

.about-sec-info-number {
  font-family: Prompt;
  font-size: 80px;
  color: #2d2b5c;
}

/* features-section */

.features-section {
  width: 100%;
  margin-bottom: 145px;
}

.main-container-features-sec {
  width: 1340px;
  margin-left: 50px;
  position: relative;
}

.title-container-features-sec {
  width: 1300px;
  margin-left: 20px;
  margin-bottom: 165px;
  display: flex;
}

.title-features-sec {
  font-family: Poppins;
  font-size: 70px;
  color: #2d2b5c;
  line-height: 1.1;
  width: 600px;
  margin-right: 562px;
}

.button-features-sec {
  font-family: Poppins;
  width: 139px;
  height: 60px;
  font-size: 16px;
  margin-top: 10px;
  color: #fff;
  background-color: #6259EA;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.image-features-sec1 {
  position: absolute;
  z-index: 0;
  left: -40px;
  bottom: 215px;
}

.image-features-sec2 {
  position: absolute;
  z-index: 0;
  left: 465px;
  bottom: -80px;
}

.image-features-sec3 {
  position: absolute;
  z-index: 0;
  left: 940px;
  top: 230px;
}

.description-container-features-sec {
  width: 1300px;
  height: 468px;
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.632);
  border-radius: 15px;
  border: 1px solid white;
  position: relative;
  z-index: 1;
}

.description-container-features-sec * {
  background-color: transparent;
}

.card-container-features-sec {
  width: 433px;
  height: 375px;
  margin-top: 38px;
}

.text-card-features-sec {
  font-family: Poppins;
  font-size: 34px;
  color: #1a1930;
  margin-left: 50px;
  margin-bottom: 18px;
}

.description-card-features-sec {
  font-family: Prompt;
  font-size: 18px;
  color: #2d2b5c;
  line-height: 1.4;
  margin-left: 50px;
  margin-bottom: 33px;
}

.subtext-container-features-sec {
  display: flex;
  margin-bottom: 22px;
}

.image-features-sec {
  width: 21px;
  height: 21px;
  margin-left: 50px;
}

.subtext-card-features-sec {
  font-family: Prompt;
  font-size: 18px;
  color: #1a1930;
  margin-left: 20px;
  line-height: 1.2;
}

/* video-section */

.video-section {
  width: 100%;
  margin-bottom: 152px;
}

.main-container-video-sec {
  width: 1340px;
  margin-left: 50px;
}

.container-video-sec-title {
  width: 1300px;
  margin-left: 20px;
  margin-bottom: 85px;
}

.video-sec-title-text {
  font-family: Poppins;
  font-size: 44px;
  color: #2d2b5c;
  line-height: 1.1;
  width: 473px;
}

.container-video-sec-img {
  width: 1300px;
  height: 730px;
  margin-left: 20px;
}

/* info-section */

.info-section {
  width: 100%;
  margin-bottom: 173px;
}

.main-container-info-sec {
  width: 1340px;
  margin-left: 50px;
}

.container-info-sec-title1 {
  width: 1320px;
  margin-left: 10px;
  padding-top: 43px;
}

.info-sec-title1-text {
  font-family: Poppins;
  font-size: 45px;
  color: #2d2b5c;
  line-height: 1.1;
  width: 468px;
  margin-left: 9px;
}

.container-info-sec-content1 {
  width: 1320px;
  margin-left: 10px;
  margin-top: 45px;
  display: flex;
  justify-content: space-between;
}

.container-info-sec-img1 {
  width: 550px;
  position: relative;
}

.image1-info-sec {
  position: absolute;
  left: -60px;
  top: -50px;
}

.container-info-sec-description1 {
  width: 770px;
}

.info-sec-description1-text1 {
  font-family: Poppins;
  font-size: 35px;
  color: #2d2b5c;
  margin-left: 10px;
  margin-bottom: 45px;
}

.info-sec-description1-text2 {
  font-family: Prompt;
  font-size: 18px;
  color: #2d2b5c;
  margin-left: 10px;
  margin-bottom: 20px;
  width: 704px;
  line-height: 1.4;
}

.info-sec-description1-text3 {
  font-family: Prompt;
  font-size: 18px;
  color: #2d2b5c;
  margin-left: 10px;
  margin-bottom: 36px;
  width: 704px;
  line-height: 1.4;
}

.info-sec-description1-text4 {
  font-family: Poppins;
  font-size: 18px;
  color: #1a1930;
  margin-left: 10px;
  width: 132px;
}

.container-info-sec-title2 {
  width: 1320px;
  margin-left: 10px;
  margin-top: 39px;
}

.info-sec-title2-text {
  font-family: Poppins;
  font-size: 44px;
  color: #2d2b5c;
  width: 420px;
  margin-left: 900px;
  line-height: 1.1;
}

.container-info-sec-content2 {
  width: 1320px;
  margin-left: 10px;
  margin-top: 44px;
  display: flex;
  justify-content: space-between;
}

.container-info-sec-description2 {
  width: 770px;
}

.info-sec-description2-text1 {
  font-family: Poppins;
  font-size: 35px;
  color: #2d2b5c;
  margin-left: 10px;
  margin-bottom: 47px;
}

.info-sec-description2-text2 {
  font-family: Prompt;
  font-size: 18px;
  color: #2d2b5c;
  margin-left: 10px;
  margin-bottom: 20px;
  width: 704px;
  line-height: 1.4;
}

.info-sec-description2-text3 {
  font-family: Prompt;
  font-size: 18px;
  color: #2d2b5c;
  margin-left: 10px;
  margin-bottom: 36px;
  width: 724px;
  line-height: 1.4;
}

.info-sec-description2-text4 {
  font-family: Poppins;
  font-size: 18px;
  color: #1a1930;
  margin-left: 10px;
  width: 132px;
}

.container-info-sec-img2 {
  width: 550px;
  position: relative;
}

.image2-info-sec {
  position: absolute;
  top: 8px;
  left: 50px;
}

/* price-section */

.price-section {
  width: 100%;
  margin-bottom: 140px;
}

.main-container-price-sec {
  width: 1340px;
  margin-left: 50px;
  position: relative;
}

.title-container-price-sec {
  width: 1320px;
  margin-left: 10px;
  margin-bottom: 74px;
  position: relative;
}

.title-price-sec {
  font-family: Poppins;
  font-size: 70px;
  color: #1a1930;
  width: 385px;
  margin-left: 10px;
  position: relative;
  z-index: 1;
}

.image1-price-sec {
  position: absolute;
  top: -27px;
  left: -60px;
  z-index: 0;
}

.content-container-price-sec {
  width: 1320px;
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}

.card1-container-price-sec {
  width: 640px;
  height: 496px;
  margin-left: 8px;
  background-color: rgba(255, 255, 255, 0.650);
  border-radius: 15px;
  border: 2px solid white;
}

.card1-container-price-sec * {
  background-color: transparent;
}

.heading1-price-sec {
  font-family: Poppins;
  font-size: 44px;
  color: #2d2b5c;
  width: 119px;
  margin-left: 52px;
  margin-top: 38px;
  margin-bottom: 35px;
}

.description-container-price-sec {
  width: 536px;
  margin-left: 52px;
  margin-bottom: 38px;
}

.check {
  margin-right: 20px;
}

.description1-text1-price-sec {
  font-family: Prompt;
  font-size: 18px;
  color: #1a1930;
  margin-bottom: 8px;
}

.description1-text2-price-sec {
  font-family: Prompt;
  font-size: 18px;
  color: #abaabb;
  margin-bottom: 8px;
}

.pricing-container-price-sec {
  width: 536px;
  margin-left: 52px;
  line-height: 1;
  display: flex;
}

.pricing-text-price-sec {
  font-family: Prompt;
  font-size: 79px;
  color: #2d2b5c;
  margin-right: 188px;
}

.index {
  font-family: Prompt;
  font-size: 18px;
  color: #abaabb;
}

.pricing-button1-price-sec {
  font-family: Poppins;
  width: 139px;
  height: 60px;
  font-size: 16px;
  margin-top: 26px;
  color: #fff;
  background-color: #6259EA;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.card2-container-price-sec {
  width: 640px;
  height: 496px;
  margin-right: 8px;
  background-color: rgba(255, 255, 255, 0.650);
  border-radius: 15px;
  border: 2px solid #6259EA;
}

.card2-container-price-sec * {
  background-color: transparent;
}

.heading-container-price-sec {
  width: 554px;
  display: flex;
  justify-content: space-between;
  margin-left: 52px;
  margin-top: 32px;
  margin-bottom: 37px;
}

.heading2-price-sec {
  font-family: Poppins;
  font-size: 44px;
  color: #2d2b5c;
  width: 119px;
  margin-top: 4px;
}

.heading-button-price-sec {
  width: 131px;
  height: 30px;
  font-family: Poppins;
  font-size: 15px;
  color: #2d2b5c;
  background-color: #E7E5FF;
  border: none;
  border-radius: 5px;
}

.description2-text-price-sec {
  font-family: Prompt;
  font-size: 18px;
  color: #1a1930;
  margin-bottom: 8px;
}

.pricing-button2-price-sec {
  font-family: Poppins;
  width: 139px;
  height: 60px;
  font-size: 16px;
  margin-top: 26px;
  color: #fff;
  background-color: #6259EA;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.image2-price-sec {
  position: absolute;
  bottom: 98px;
  right: -38px;
  z-index: 0;
}

/* team-section */

.team-section {
  width: 100%;
  margin-bottom: 197px;
}

.title-container-team-sec {
  width: 1320px; 
  display: flex;
  margin-left: 60px;
  margin-bottom: 80px;
}

.team-sec-text {
  font-family: Poppins;
  font-size: 70px;
  color: #1a1930;
  width: 512px;
  line-height: 1.1;
  margin-left: 10px;
}

.team-sec-button1 {
  width: 130px;
  height: 60px;
  font-family: Poppins;
  font-size: 16px;
  margin-top: 56px;
  margin-left: 424px;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #6259EA;
  cursor: pointer;
}

.team-sec-button2 {
  font-family: Poppins;
  width: 205px;
  height: 60px;
  font-size: 16px;
  margin-top: 56px;
  margin-left: 30px;
  color: #1a1930;
  background-color: rgba(227, 227, 227, 0.3);
  border: 2px solid rgb(255, 255, 255);
  border-radius: 4px;
  cursor: pointer;
}

.main-container-team-sec {
  width: 1380px;
  height: 684px;
  margin-left: 30px;
  display: flex;
}

.switch1-img-team-sec {
  width: 85px;
  height: 85px;
  margin-top: 314px;
  margin-left: 20px;
}

.description-container-team-sec {
  width: 1140px;
  margin-left: 25px;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 20px;
}

.card-container-team-sec {
  width: 265px;
  text-align: center;
}

.card-name-team-sec {
  font-family: Prompt;
  font-size: 20px;
  color: #1a1930;
  margin-top: 8px;
}

.card-post-team-sec {
  font-family: Prompt;
  font-size: 18px;
  color: #2d2b5c;
  margin-top: 5px;
}

.switch2-img-team-sec {
  width: 85px;
  height: 85px;
  margin-top: 314px;
  margin-left: 5px;
}

/* faq-section */

.faq-section {
  width: 100%;
  margin-bottom: 194px;
}

.main-container-faq-sec {
  width: 1340px;
  margin-left: 50px;
  position: relative;
}

.title-faq-sec {
  font-family: Poppins;
  font-size: 70px;
  color: #1a1930;
  width: 606px;
  line-height: 1.1;
  margin-left: 20px;
  margin-bottom: 157px;
}

.main-image-faq-sec {
  position: absolute;
  top: -180px;
  right: -50px;
}

.description1-container-faq-sec {
  width: 1300px;
  margin-left: 20px;
  margin-bottom: 66px;
  display: flex;
}

.description1-img-faq-sec {
  width: 68px;
  height: 45px;
  margin-left: 23px;
  margin-top: 15px;
}

.description1-text-faq-sec {
  font-family: Poppins;
  font-size: 44px;
  color: #2d2b5c;
  margin-left: 45px;
}

.description2-container-faq-sec {
  width: 1300px;
  margin-left: 20px;
  margin-bottom: 70px;
  display: flex;
}

.description2-img-faq-sec {
  width: 68px;
  height: 45px;
  margin-left: 23px;
  margin-top: 18px;
}

.description2-text-faq-sec {
  font-family: Poppins;
  font-size: 44px;
  color: #2d2b5c;
  margin-left: 45px;
}

.description3-container-faq-sec {
  width: 1300px;
  margin-left: 20px;
  margin-bottom: 80px;
  display: flex;
}

.description3-img-faq-sec {
  width: 68px;
  height: 45px;
  margin-left: 23px;
  margin-top: 35px;
}

.description3-text-faq-sec {
  font-family: Poppins;
  font-size: 44px;
  color: #2d2b5c;
  margin-left: 45px;
  line-height: 1.15;
}

.description4-container-faq-sec {
  width: 1300px;
  margin-left: 20px;
  margin-bottom: 66px;
  display: flex;
}

.description4-img-faq-sec {
  width: 68px;
  height: 45px;
  margin-left: 23px;
  margin-top: 35px;
}

.description4-text-faq-sec {
  font-family: Poppins;
  font-size: 44px;
  color: #2d2b5c;
  margin-left: 45px;
  line-height: 1.15;
}

/* feedback-section */

.feedback-section {
  width: 100%;
  margin-bottom: 122px;
}
.main-container-feedback-sec {
  width: 1300px;
  margin-left: 70px;
  position: relative;
}

.title-feedback-sec {
  width: 386px;
  font-family: Poppins;
  font-size: 70px;
  color: #1a1930;
  line-height: 1.1;
  z-index: 1;
  position: relative;
}

.image1-feedback-sec {
  position: absolute;
  top: -185px;
  left: -70px;
  z-index: 0;
}

.info-container-feedback-sec {
  width: 1300px;
  height: 563px;
  margin-top: 68px;
  display: flex;
  justify-content: space-between;
  background-color: rgba(232, 230, 230, 0.45);
  border: 2px solid white;
  border-radius: 15px;
  z-index: 2;
  position: relative;
}

.image-container-feedback-sec {
  width: 200px;
  margin-left: 110px;
  margin-top: 53px;
  background: transparent;
}

.social-network-container-feedback-sec {
  width: 115px;
  height: 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px auto;
  background: transparent;
}

.social-network-container-feedback-sec img {
  background-color: transparent;
}

.comment-container-feedback-sec {
  width: 840px;
  margin-right: 107px;
  margin-top: 53px;
  background-color: transparent;
}

.estimation-container-feedback-sec {
  width: 840px;
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  margin-bottom: 71px;
  background-color: transparent;
}

.name-feedback-sec {
  font-family: Prompt;
  font-size: 39px;
  color: #1a1930;
  line-height: 0.9;
  margin-left: 7px;
  background-color: transparent;
}

.ceo-feedback-sec {
  font-family: Prompt;
  font-size: 18px;
  color: #abaabb;
  background-color: transparent;
}

.estimation-img {
  margin-right: 8px;
  margin-bottom: 5px;
  background-color: transparent;
}

.text-feedback-sec {
  font-family: Prompt;
  font-size: 30px;
  color: #2d2b5c;
  line-height: 1.4;
  margin-left: 7px;
  margin-bottom: 16px;
  background-color: transparent;
}

.switch-container-feedback-sec {
  width: 180px;
  margin-left: 690px;
  background-color: transparent;
}

.switch-container-feedback-sec img {
  background-color: transparent;
}

.image2-feedback-sec {
  position: absolute;
  bottom: -40px;
  right: 150px;
  z-index: 0;
}

/* blog-section */

.blog-section {
  width: 100%;
  overflow: hidden;
  margin-bottom: 210px;
}

.main-container-blog-sec {
  width: 1340px;
  margin-left: 50px;
}

.title-container-blog-sec {
  width: 1320px;
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.title-blog-sec {
  font-family: Poppins;
  font-size: 70px;
  color: #1a1930;
  margin-left: 10px;
}

.button-blog-sec {
  font-family: Poppins;
  width: 157px;
  height: 60px;
  font-size: 16px;
  color: #fff;
  background-color: #6259EA;
  margin-right: 10px;
  margin-top: 22px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.description-container-blog-sec {
  width: 1340px;
  display: flex;
  gap: 43px;
}

.card-description-blog-sec {
  width: 505px;
  margin-top: 30px;
  flex-shrink: 0;
}

.info-text-blog-sec {
  font-family: Poppins;
  font-size: 15px;
  color: #2d2b5c;
  background-color: #E7E5FF;
  display: inline-block;
  padding: 4px 25px 5px 25px;
  margin-left: 19px;
  text-align: center;
  border-radius: 4px;
}

.info-text1-blog-sec {
  font-family: Poppins;
  font-size: 15px;
  color: #2d2b5c;
  background-color: #E7E5FF;
  width: 150px;
  padding: 4px 0 5px 0;
  margin-left: 18px;
  text-align: center;
  border-radius: 4px;
}

.text-blog-sec {
  font-family: Poppins;
  font-size: 35px;
  color: #1a1930;
  margin-top: 15px;
  margin-left: 20px;
  line-height: 1.2;
}

.read-text-blog-sec {
  font-family: Poppins;
  font-size: 18px;
  color: #1a1930;
  width: 125px;
  margin-left: 20px;
  margin-top: 25px;
}

/* contact-section */

.contact-section {
  width: 100%;
  margin-bottom: 127px;
}

.main-container-contact-sec {
  width: 1340px;
  margin-left: 50px;
  position: relative;
}

.title-container-contact-sec {
  display: flex;
}

.title-contact-sec {
  font-family: Poppins;
  font-size: 70px;
  color: #1a1930;
  margin-left: 20px;
  margin-bottom: 45px;
  position: relative;
  z-index: 1;
}

.image1-contact-sec {
  position: absolute;
  top: -25px;
  left: -50px;
  z-index: 0;
}

.description-container-contact-sec {
  width: 1320px;
  margin-left: 10px;
  display: flex;
}

.text-container-contact-sec {
  display: flex;
  height: 120px;
  margin-top: 342px;
  margin-left: 24px;
}

.star-image {
  width: 10px;
  height: 10px;
  margin-top: 8px;
  margin-right: 5px;
}

.text1-contact-sec {
  font-family: Prompt;
  font-size: 18px;
  color: #2d2b5c;
  line-height: 1.46;
}

.text2-contact-sec {
  font-family: Prompt;
  font-size: 18px;
  color: #abaabb;
  margin-top: 17px;
}

.form-container-contact-sec {
  width: 640px;
  margin-left: 177px;
  position: relative;
}

.image2-contact-sec {
  position: absolute;
  z-index: 0;
  right: -60px;
  top: -5px;
}

.form-group {
  margin-bottom: 16px;
  position: relative;
  z-index: 1;
}

label {
  font-family: Prompt;
  font-size: 18px;
  color: #2d2b5c;
  display: block;
}

input {
  width: 608px;
  border: 2px solid rgba(255, 255, 255, 0.408);;
  background-color: rgba(233, 232, 232, 0.408);
  border-radius: 4px;
  font-family: Prompt;
  font-size: 18px;
  color: #c1c1c1;
  margin-top: 7px;
  padding: 15px 0px 14px 30px;
  box-shadow: 0px 0px 5px #adadad;
}

textarea {
  width: 608px;
  background-color: rgba(233, 232, 232, 0.408);
  border: 1px solid #ffffff;
  border-radius: 4px;
  font-family: Prompt;
  font-size: 18px;
  color: #c1c1c1;
  margin-top: 14px;
  padding: 15px 0px 25px 30px;
  box-shadow: 0px 0px 5px #adadad;
}

.submit-btn {
  font-family: Prompt;
  width: 100%;
  background-color: #6259EA;
  font-size: 18px;
  text-align: center;
  color: #fff;
  font-weight: 700;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 16px;
  margin-top: 30px;
}

/* smedia-section */

.smedia-section {
  width: 100%;
  margin-bottom: 79px;
}

.main-container-smedia-sec {
  width: 1400px;
  margin-left: 20px;
}

.title-container-smedia-sec {
  width: 1320px;
  margin-left: 40px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.title-smedia-sec {
  font-family: Poppins;
  font-size: 70px;
  color: #1a1930;
  margin-left: 10px;
}

.button-smedia-sec {
  width: 207px;
  height: 60px;
  font-family: Poppins;
  font-size: 16px;
  color: #1a1930;
  background-color: rgba(227, 227, 227, 0.3);
  margin-right: 8px;
  margin-top: 33px;
  border: 2px solid white;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 0px 5px #cbcbcb;
}

.decription-container-smedia-sec {
  width: 1380px;
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.switch-smedia-sec {
  width: 85px;
  height: 85px;
}

.photo-smedia-sec {
  width: 1200px;
  display: flex;
  justify-content: space-between;
}

/* footer */

.footer {
  background-color: #1A1930;
  width: 100%;
  padding-top: 80px;
  padding-bottom: 75px;
}

.main-container-footer {
  width: 1320px;
  margin-left: 60px;
  background-color: #1A1930;
  display: flex;
}

.main-container-footer * {
  background-color: #1A1930;
}

.footer-container1 {
  width: 550px;
}

.footer-logo {
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 32px;
}

.footer-text1 {
  font-family: Prompt;
  font-size: 18px;
  color: #fff;
  margin-left: 10px;
  margin-bottom: 3px;
}

.footer-text2 {
  font-family: Prompt;
  font-size: 20px;
  color: #fff;
  margin-left: 10px;
  margin-bottom: 7px;
}

.footer-text3 {
  font-family: Prompt;
  font-size: 14px;
  color: #fff;
  margin-left: 10px;
  margin-bottom: 88px;
}

.footer-span1 {
  font-family: Prompt;
  font-size: 14px;
  color: #6259ea;
}

.footer-text4 {
  font-family: Prompt;
  font-size: 14px;
  color: #fff;
  margin-left: 10px;
}

.footer-span2 {
  font-family: Prompt;
  font-size: 14px;
  color: #6259ea;
}

.footer-container2 {
  width: 660px;
  position: relative;
}

.image-footer {
  position: absolute;
  background: transparent;
  right: -170px;
  top: -90px;
}

.line1-hr-footer {
  margin-left: 10px;
  margin-top: 20px;
  width: 818px;
}

.links-container {
  width: 640px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 8px;
  margin-left: 10px;
  margin-top: 55px;
}

.links-footer {
  font-family: Prompt;
  font-size: 18px;
  color: #fbfbff;
}

.line2-hr-footer {
  margin-left: 10px;
  margin-top: 60px;
  width: 818px;
}